In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
data=pd.read_csv("iris.csv").drop("Id", axis=1)
data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [19]:
classes = data['Species'].unique()
train_data = pd.DataFrame()
test_data = pd.DataFrame()

for i in classes:
    classdf = data[data['Species'] == i]
    sample = classdf.sample(n=1)
    test_data = pd.concat([test_data, classdf.sample(n=1)])
    train_data = pd.concat([train_data, classdf.drop(sample.index)])


train_data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
5              5.4           3.9            1.7           0.4     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[147 rows x 5 columns]

In [20]:
test_data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
31             5.4           3.4            1.5           0.4      Iris-setosa
71             6.1           2.8            4.0           1.3  Iris-versicolor
107            7.3           2.9            6.3           1.8   Iris-virginica

In [21]:
train_data_list = []

for i in classes:
    x = train_data[train_data['Species'] == i]
    train_data_list.append(x.iloc[:, :-1])

X_test = test_data.iloc[:, :-1]  
y_test = test_data.iloc[:, -1]  

X_test

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
31             5.4           3.4            1.5           0.4
71             6.1           2.8            4.0           1.3
107            7.3           2.9            6.3           1.8

In [22]:
def Mahalanobis_distance(x,X_train):
    mean = X_train.mean(axis=0).values
    cov = X_train.cov().values
    return np.sqrt((x-mean).T @ np.linalg.inv(cov) @ (x-mean))

In [23]:
pred = []
min_dist = []

for i in X_test.values:
    dist = []
    for j in train_data_list:
        dist.append(Mahalanobis_distance(i, j))
    min_dist.append(dist[np.argmin(dist)])
    pred.append(classes[np.argmin(dist)])

In [24]:
compare = pd.DataFrame({'Actual': y_test, 'Predicted': pred, 'Mahalanobis Distance': min_dist})
compare

              Actual        Predicted  Mahalanobis Distance
31       Iris-setosa      Iris-setosa              2.226330
71   Iris-versicolor  Iris-versicolor              1.438762
107   Iris-virginica   Iris-virginica              1.890432